body
	display: grid
	place-items: center

#component
	@media screen and (min-width: $width-mq)
		display: grid
		grid-template-columns: 1fr 1fr

.prices
	display: flex
	gap: 25px
	align-items: center

.button-content
	display: flex
	align-items: center
	justify-content: center
	gap: 10px