#component
	background: $clr-white
	max-width: $width-mobile
	border-radius: 10px
	overflow: hidden

#description
	padding: 20px
	font-family: $ff-montserrat
	font-size: $fs-p

.product-category
	padding-bottom: 15px
	text-transform: uppercase
	letter-spacing: 5px